block head
	head
		//- Metadatas
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Creative One Page Parallax Template')
		meta(name='keywords', content='Creative, Onepage, Parallax, HTML5, Bootstrap, Popular, custom, personal, portfolio')
		meta(name='author', content='')

		//- Scripts
		<!--[if lt IE 9]> 
		script(src='public/himu/js/html5shiv.js')
		script(src='public/himu/js/respond.min.js')
		<![endif]--> 

		//- Styles
		link(rel='stylesheet', type='text/css', href='/public/himu/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/public/himu/css/prettyPhoto.css')
		link(rel='stylesheet', type='text/css', href='/public/himu/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/public/himu/css/animate.css')
		link(rel='stylesheet', type='text/css', href='/public/himu/css/main.css')
		link(rel='stylesheet', type='text/css', href='/public/himu/css/responsive.css')

		//- Media Sources
		link(
			rel='shortcut icon', 
			href='/public/himu/images/ico/favicon.png'
		)

		link(
			rel='apple-touch-icon-precomposed', 
			sizes='144x144', 
			href='/public/himu/images/ico/apple-touch-icon-114-precomposed.png'
		)

		link(
			rel='apple-touch-icon-precomposed', 
			sizes='114x114', 
			href='/public/himu/images/ico/apple-touch-icon-144-precomposed.png'
		)

		link(rel='apple-touch-icon-precomposed', 
			sizes='72x72', 
			href='/public/himu/images/ico/apple-touch-icon-72-precomposed.png'
		)

		link(
			rel='apple-touch-icon-precomposed', 
			href='/public/himu/images/ico/apple-touch-icon-57-precomposed.png'
		)