- var skills = [{title: 'HTML5 &amp; CSS3', percentage: '90%'}, {title: 'UI Design', percentage: '85%'}, {title: 'jQuery', percentage: '70%'}, {title: 'PHP', percentage: '60%'}, {title: 'WordPress', percentage: '75%'}];

block about_us
	section#about-us
		.container
			.text-center
				.col-sm-8.col-sm-offset-2
					h2.title-one Why With Us?
					p 
						="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."
			.about-us
				.row
					.col-sm-6
						h3 "Why with us?"
						ul.nav.nav-tabs
							li.active: a(href="#about", data-toggle="tab")
								i.fa.fa-chain-broken
								=" About"
							li: a(href="#mission", data-toggle="tab")
								i.fa.fa-th-large
								=" Mission"
							li: a(href="#community", data-toggle="tab")
								i.fa.fa-users
								=" Community"
						.tab-content
							#about.tab-pane.fade.in.active
								.media
									img(
										class="pull-left media-object",
										src="/public/himu/images/about-us/about.jpg",
										alt="about us"
									)
									.media-body
										p
											="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."

							#mission.tab-pane.fade
								.media
									img(
										class="pull-left media-object",
										src="/public/himu/images/about-us/mission.jpg",
										alt="Mission"
									)
									.media-body
										p
											="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."

							#community.tab-pane.fade
								.media
									img(
										class="pull-left media-object",
										src="/public/himu/images/about-us/community.jpg",
										alt="Community"
									)
									.media-body
										p
											="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat." 

					.col-sm-6
						h3
							="Our Skills"
						.skill-bar
						each skillbar in skills
							.skillbar.clearfix(data-percent= skillbar.percentage)
								.skillbar-title
									span 
										= skillbar.title
								.skillbar-bar
								.skillbar-bar-percent
									= skillbar.percentage
							<!-- End Skill Bar -->
	<!--/#about-us-->